# Pipeline dumps
/out/

# Mac specific
.idea
.vscode
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.py.swp

# C extensions
*.so

# Notebook checkpoints
.ipynb_checkpoints/

